<h3>listado Heroes!</h3>

<div *ngIf="deleteHeroe; else nothingWasDelete">
  <h3>Héror borrado <small class="text-danger">{{ deleteHeroe }}</small> </h3>
</div>

<ng-template #nothingWasDelete>
  <h3>No ha borrado nada.</h3>
</ng-template>

<button
  *ngIf="heroNames.length > 0"
  class="btn btn-outline-danger"
  (click)="removeLastHeroe()">
  Borrar último héroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames"
    class="list-group-item">
    {{ name }}
  </li>
</ul>
